.aboutus-hero-sec{
    display: flex;
    justify-content: center;
    background: rgba(242, 244, 247, 1);
    height: 470px;
}
.aboutus-hero-container{
    width: 90%;
    justify-content: center;
    align-items: center;
    display:flex ;
    background: url("/Frame 120.png");
}
.aboutus-hero-title{
    text-align: center;
}
.aboutus-hero-title h1{
    font-family: "Bahij TheSansArabic";
    font-size: 65px;
    font-weight: 700;
    color: rgba(63, 26, 88, 1);

}
.aboutus-hero-title p{
    font-family: "Bahij TheSansArabic";
    font-size: 26px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(63, 26, 88, 1);

}
.who-are-we-sec{
    display: flex;
    justify-content: center;
    padding: 100px 0 140px 0;
    background: url("/Frame 2.png");

    background-position: left top;
        background-repeat: no-repeat;
}
.who-are-we-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.who-are-we-title{
    width: 70%;
}
.who-are-we-title h3{
    font-family: "Bahij TheSansArabic";
    font-size: 42px;
    font-weight: 700;
color: rgba(34, 34, 34, 1);
    text-align: center;
    margin-bottom: 45px;

}
.who-are-we-title p{
    font-family: "Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: rgba(34, 34, 34, 1);
    text-align: center;

}
.who-are-we-title p:nth-child(2),.who-are-we-title p:nth-child(3){
    margin-bottom: 30px;
}