.boxes-title{
    font-family: "Bahij TheSansArabic";
font-size: 42px;
font-weight: 500;
line-height: 69px;
color: #222222;
text-align: center;
padding-top: 111px;
margin-bottom: 20px;
}
.AssetManagement-title{
    background: url("/Frame 2.png");

    background-position: left top;
        background-repeat: no-repeat;
}
.assetManagement-accordion{
    display: flex;
    justify-content: center;
    padding: 80px 0px 120px 0;
    background: url("/Frame 1006.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}
.assetManagement-accordion-container{
    width: 50%;
}
section.private-box-sec {
    DISPLAY: flex;
    justify-content: center;
    padding: 80px 0;
    background: #F2F4F7;
}
.private-box-container{
    width: 90%;
}
.private-box-title h2{
    font-family: "Bahij TheSansArabic";
    font-size: 42px;
    font-weight: 700;
    line-height: 69px;
    color: #222222;
    text-align: center;
    margin-bottom: 50px;
}
.private-box-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 55px; 
  }
  .swiper-Discover{
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .btn-sliider{
    justify-content: flex-end;
    display: flex;
    margin-bottom: 30px;
  }
  .swiper-wrapper{
    justify-content: space-between;
  }
  .btn-sliider button{
    background: none;
    border: none;
  }
  @media screen and (max-width: 767px) {
    .assetManagement-accordion-container{
      width: 90%;
    }
    .boxes-title{
      padding-top: 30px;
      font-size: 24px;
    }
}