.Contact-footer-section{
    display: flex;
    justify-content: center;
}
.Contact-footer-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
form.Contact-footer-form,form.Contact-footer-form label{
    display: flex;
    flex-direction: column;

}
.Contact-footer-content{
    text-align: right;
}
.Contact-footer-content h2{
    font-family: "Bahij TheSansArabic";
    font-size: 42px;
    font-weight: 700;
    line-height: 68.68px;
    color: #222222;
    text-align: right;

}