.Board-hero-sec{
    display: flex;
    justify-content: center;
    background: rgba(70, 35, 94, 1);
    height: 470px;
}
.Board-hero-container{
    width: 90%;
    justify-content: center;
    align-items: center;
    display:flex ;
    background: url("/Frame 122.png");
}
.Board-hero-title{
    text-align: center;
}
.Board-hero-title h1{
    font-family: "Bahij TheSansArabic";
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;

}
.Board-hero-title p{
    font-family: "Bahij TheSansArabic";
    font-size: 26px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;

}
.director-card-sec{
    display: flex;
   flex-direction: column;
   align-items: center;
    padding: 80px 0;
    background: url("/Frame 106.png");
    background-repeat: no-repeat;
    background-position: bottom left
}
.director-card-sec h3{
    font-family: "Bahij TheSansArabic";
    font-size: 42px;
    font-weight: 500;
    line-height: 68.68px;
    color: #222222;
    margin-bottom: 40px;
}
.director-card-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto; 
    gap: 42px;
    width: 90%;
    justify-items: center;

}
.director-card{
    box-shadow: 0px 4px 15.5px 0px #85858514;
    transition: transform 0.3s ease-in-out;

}
.director-card:hover{
    transform: scale(1.03);
 
}
.director-card img{
    width: 25vw;
}
.director-card-info{
    background: #FFFFFF;
}
.director-card-info h4{
    padding-top: 15px;
    font-family: "Bahij TheSansArabic";
    font-size: 24px;
    font-weight: 700;
    line-height: 39.25px;
    text-align: center;
color: #000000;
}
.director-card-info p{
    padding-bottom: 50px;
    font-family: "Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    line-height: 25.17px;
    text-align: center;
    color: #46235E;
}
.director-card-container a {
    text-decoration: none;
}

@media screen and (max-width:  1024px){
    .director-card-container{
        grid-template-columns: repeat(1, auto);
    }
    .director-card {
        text-align: center;
    }
    .director-card img {
        width: 100%;
    }
    .Board-hero-title h1{
        font-size: 36px;
    }
}