.distinguishes-sec{
    display: flex;
    justify-content: center;
}
.distinguishes-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding-bottom: 150px;
}
.distinguishes-container h1{
    color: #222222;
    font-size: 42px;
    font-family: 'Bahij TheSansArabic';
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
.distinguishes-card {
    display: flex;
    justify-content: center;
    gap: 50px;
}
html[lang="en"] .distinguishes-card{
    flex-direction: row-reverse;
}
.distinguishes-single-card {
    width: 300px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: #FFFFFF;
    padding: 32px 22px 29px 22px;
    box-shadow: 0px 0px 21.299999237060547px 0px #64646F1F;
    border-radius: 10px;
}
.distinguishes-single-card img{
    padding: 10px;
    background: rgba(63, 26, 88, 0.1);
    border-radius: 50%;
}
.distinguishes-single-card h3{
    color: #222222;
    font-size: 24px;
    font-family: 'Bahij TheSansArabic';
    text-align: center;

    font-weight: 700;
}
.distinguishes-single-card p{
    color: #222222;
    font-size: 16px;
    font-family: 'Bahij TheSansArabic';
    text-align: center;

    font-weight: 500;
}





@media screen and (max-width:  1024px) {
    
    html[lang="en"] .distinguishes-card {
        flex-direction: row !important;
    }
    html[lang="ar"] .distinguishes-card {
        flex-direction: row-reverse !important;
    }
    .distinguishes-card{
        overflow-x: auto;
        width: 100%;
        justify-content: flex-start;
    }
    .distinguishes-single-card{
        flex: 0 0 auto; 
        width: 340px !important;
    }
    .distinguishes-container{
        gap: 30px;
        padding-bottom: 50px;
    }
    .distinguishes-container h1{
        font-size: 24px;
    }
}