.individuals-login-sec{
    background: url("/Frame 21212.png");
    background-position: right top;
        background-repeat: no-repeat;
}
.individuals-login-container{
    background: url("/Frame 106.png");
    background-repeat: no-repeat;
    background-position: bottom left
}
.individuals-login-title h1{
    font-family: "Bahij TheSansArabic";
    font-size: 42px;
    font-weight: 500;
    line-height: 68.68px;
   text-align: center;
    color: #222222;
}
.individuals-login-title p{
    font-family: "Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #222222;
    margin: 20px 0;
}
.individuals-login-field .MuiPaper-root{
    box-shadow: none !important;
}
.individuals-single-check-box{
    display: flex;
    gap: 10px;
    align-items: center;
}
#individuals-login-field{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    background: #F2F4F7 !important;
    margin-top: 30px;
}
.css-eqpfi5-MuiAccordionSummary-content{
    justify-content: right;
}
.individuals-login-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.individuals-login-buttons button{
    padding: 10px 93px;
    border-radius: 27px;
    border: 1px solid #3F1A58;
    font-family: "Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: center;

}
.individuals-login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}
.individuals-login-title{
    width: 90%;
    max-width: 1150px;
}
.individuals-sec-field-title h3{
    font-family: "Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: center;
    color: #3F1A58;

    padding: 10px 0;
    border-radius: 8px;
    margin-bottom: 10px;
}
.individuals-login-field{
    width: 90%;
    max-width: 1150px;
    text-align: right;
}

.individuals-sec-field{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 24px;
    direction: rtl;
    margin-top: 20px;
}

.individuals-sec-field-title {
    margin-top: 30px;
}
.individuals-single-field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.checkbox{
    flex-direction: row;
}
.checkbox input{
    width: 20px;
}
th{
    width: 25%;
}
.individuals-single-field input,.individuals-single-field select,.individuals-single-field textarea ,.individuals-sec-field td input,.calculateTotalPoints{
    height: 46px;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Bahij TheSansArabic';
  
}
.calculateTotalPoints {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.individuals-single-field textarea{
    height: 160px;
}
.individuals-sec-field-title-p{
    font-family: "Bahij TheSansArabic";
font-size: 16px;
font-weight: 500;
line-height: 25.17px;
text-align: center;
color: #5D5D5D;

}
#individuals-login-field div{
    justify-content: right;
}
.individuals-single-field label{
    font-family:"Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    color: #5D5D5D;

}
.individuals-single-field select{
    padding: 10px;
}
.individuals-single-field input ,.individuals-sec-field table tbody td input{
    padding: 10px;
    height: 22px;
    
}
.individuals-buttom-form{
    margin-top: 45px;
    background: #46235E;
    padding: 10px 80px;
    border-radius: 99px;
    border: none;
    font-family: "Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    color: #FFFFFF;

}
.individuals-sec-field-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    direction: rtl;
}
.individuals-sec-field-grid-box{
    display: flex;
    padding: 10px;
    justify-content: center;
    border: 1px solid #F2F4F7;
}
.individuals-sec-field-grid-box-title{
    border: 1px solid #F2F4F7;
    padding: 40px 10px;

}
.individuals-sec-field-grid-box input{
    height:40px ;
    border: 1px solid #E6E3DD;
    border-radius: 10px;
}
.individuals-sec-field-grid-box-h4 {
    padding: 0 10px;
    display: flex;
    align-items: center;
    border: 1px solid #F2F4F7;
}
.individuals-sec-field-grid-box-h4 h4,.individuals-sec-field-grid-box-title h4{
    font-family: "Bahij TheSansArabic";
    font-size: 16px;
    font-weight: 500;
    line-height: 25.17px;
    text-align: right;
    color: #000000;
}
.individuals-single-check-box label a{
    text-decoration: none;
}
#agreement{
    width: 50%;
}
.table{
    overflow: auto;
}
@media screen and (max-width:  1024px) {
    .individuals-login-title h1{
        font-size: 24px;
    }
    .individuals-login-title p{
        margin: 0px;
        margin-bottom: 10px;
    }
    .individuals-login-buttons{
        flex-direction: column;
        align-items: center;
    }
    .individuals-sec-field-grid{
        overflow-x: auto;
    }
    #agreement{
        width: 100% !important;
    }
    .individuals-sec-field-grid-box-title,.individuals-sec-field-grid-box,.individuals-sec-field-grid-box-h4{
        width: 249px;
    }
}