@font-face {
  font-family: 'Bahij TheSansArabic';
  src: url(../../../Font/alfont_com_ArbFONTS-Bahij_TheSansArabic-Plain.ttf) format('truetype');
}
@font-face {
  font-family: 'Bahij TheSansArabic light';
  src: url(../../../Font/TheSansArabic-Light.ttf) format('truetype');
}
body {
  margin: 0 !important;
}
header.navBar-sec {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 7.199999809265137px 0px #5E5E5E0A;
  transition: top 0.3s ease-in-out;

  z-index: 11;
}
.show-header {
  top: 0; /* Show header */
}

.hide-header {
  top: -100%; /* Hide header - adjust based on the actual height of your header */
}
.navBar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  gap: 20px;
}
.navBar-logo{
  padding: 15px 0;
}
.navBar-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.navBar-links a{
  text-decoration: none;
  color: #5D5D5D;
  font-weight: 500;
  font-family:"Bahij TheSansArabic" ;
  font-size: 16px;

}
.navBar-links a:focus{
  color: #3F1A58;
  border-bottom: 1px solid #3F1A58;
  margin-bottom: 8px;
  
}
.navBar-sec {
  transition: top 0.3s;
}

.hide-header {
  top: -100px; 
}
.navBar-openAcc button{
  color: #3F1A58;
  font-family: 'Bahij TheSansArabic';
  font-size: 16px;
  border: none;
  background: rgba(174, 174, 174, 0.2);
  transition:0.25s all ease;

  width: 189px;
  height: 48px;
  border-radius: 24px;
}
.navBar-openAcc button:hover{
  background: #3F1A58;
  color: white;
}
.footer-sec{
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  border-width: 95%;
}
.footer-container{
  padding-top: 80px;
  border-top:  1px solid #0000000D;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 60px;
}
.footer-links,.footer-services,.footer-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-links h6,.footer-services h6,.footer-container form h6{
  color: #222222;
  font-family: "Bahij TheSansArabic";
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  margin-bottom: 10px;
}
.footer-links a,.footer-services a,.footer-logo p,.footer-container form p{
  font-family: "Bahij TheSansArabic";
  font-weight: 500;
  font-size: 14px;
  color: #5D5D5D;
  text-decoration: none;
  text-align: right;
}
.footer-logo {
  text-align: right;
  width: 25%;
}
.footer-logo img{
  margin-bottom: 15px;
}
.button-input{
  display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3px 20px 3px 5px;
    border: 1px solid #BFBFBF;
    border-radius: 27px;
}
input.button-input-field:focus-visible {
  outline-offset: none !important;
  
  outline:none !important;
}
input.button-input-field {
  border: none;
  text-align: right;
  color: #0000004D;
  font-weight: 500;
  font-family: "Bahij TheSansArabic";
  font-size: 14px;
  
}
button.button-input-button{
  width: 78px;
  height: 48px;
  border: none;
  background: #3F1A58;
  border-radius: 25px;
  font-family: "Bahij TheSansArabic";
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
  /* padding: 12px 16px; */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease,  0.5s ease; 
  transform: translateY(-20px); 
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0px) translateX(-100px); 

}
.dropdown-content a {
  font-family: "Bahij TheSansArabic";
  font-weight: 500;
  text-align: right;
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  box-shadow: none;
}
.dropdown-content a:hover{
  color: #3F1A58;
  font-weight: 700;
  background: #F2F4F7;

}
.mobile-menu{
  display: none;
}
.dropdown-content a:focus{
  border: none !important;
  padding: none !important;
  margin: none !important;
}
.navBar-hamburger{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  margin-right: 30px;
}
.logo-sec-mob {
  text-align: right;
  margin-right: 20px;

  margin-bottom: 30px;
}
.navBar-hamburger a{
  text-decoration: none;
  color: #5d5d5d;
  font-family: "Bahij TheSansArabic";
  font-weight: 500;
  font-size: 14px;
}
button.btn.btn-danger{
  background: none;
  border: none;
}
.login-mob{
  text-align: right;
  margin-right: 20px;
  margin-top: 30px;
}
.login-mob button{
  color: #3F1A58;
  font-family: 'Bahij TheSansArabic';
  font-size: 16px;
  border: none;
  background: rgba(174, 174, 174, 0.2);
  width: 189px;
  height: 48px;
  border-radius: 24px;
}
button.btn-close{
  width: 27px !important;
  height: 27px !important;
  background: none;
  border: none;
  margin-top: 50px;
  margin-left: 20px;
}
button.btn-close::before{
  display: block;
  width: 20px;
  height: 20px;
  content: " ";
  background: url("../../../static/false\ 1.svg") !important;
  background-size: cover !important;
 
}
.copyright-sec{
  background: #FFFFFF;
}
.copyright{
  text-align: center;
  border-top: 1px solid #0000000D;
  padding: 28px 0;
  
}
.copyright p{
  font-family: "Bahij TheSansArabic";
  font-size: 14px;
  font-weight: 500;
  line-height: 22.03px;
  color: #5D5D5D;

}
.copyright p a{
  color: #222222;
  font-weight: 700;
}
.modal-content {
  overflow-y: auto;
}
@media screen and (max-width: 1024px){
  .modal-content {
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    line-height: 1.4;
    background: #ffffff;
    padding: 0;
    border-radius: 3px;
    transform: translate(0, 0); 
}
  .footer-container{
    flex-direction: column;
  }
  .mobile-menu{
    display:  inline-block;
  }
  .navBar-links,.navBar-openAcc{
    display: none;
  }
  .footer-logo{
    width: 100%;
  }
  .footer-services h6,.footer-links h6,form h6{
    margin-top: 21px ;
    margin-bottom: 10px;
    font-weight: 700 !important;
  }
  .logo-sec-mob {
    margin-top: 50px;
}
}
@media screen and (max-width: 767px){
  .logo-sec-mob {
    margin-top: 50px;
}
.login-mob{
  margin-bottom: 100px;
}
.navBar-hamburger a{
  font-size: 16px;
}
}